# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# vim
*.swp
*.swo
*.swn
*.un~

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
build/
