# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# editor/IDE
*.swp
*.swo
*.swn
*.un~
.vscode
.idea

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
build/
