# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.16.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: make deps
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Run format
          command: |
            make format
            DIFF=$(git diff)
            if [ ! -z "${DIFF}" ] ; then
              echo "${DIFF}"
              false
            fi
      - run:
          name: Run lint
          command: make lint
      - run:
          name: Run tests
          command: make test
      - store_test_results:
          path: build/junit
      - store_artifacts:
          path: build/test/coverage.html
          destination: test-coverage.html
      - run:
          name: Build release binaries
          command: make release-build
      - persist_to_workspace:
          root: build
          paths:
            - release
            - VERSION
            - CHANGELOG

  publish-github-release:
    docker:
      - image: cibuilds/github:0.13
    steps:
      - attach_workspace:
          at: /wrk
      - run:
          name: Push to Github
          command: |
            ghr -token ${GITHUB_TOKEN} \
                -owner ${CIRCLE_PROJECT_USERNAME} \
                -repository ${CIRCLE_PROJECT_REPONAME} \
                -commitish ${CIRCLE_SHA1} \
                -body "$(cat /wrk/CHANGELOG)" \
                -replace \
                "$(cat /wrk/VERSION)" \
                /wrk/release

  publish-docker-image:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:1.16.3
        auth:
          username: hangxie
          password: ${DOCKER_HUB_TOKEN}
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Build docker image
          command: make docker-build
      - run:
          name: Push to docker hub
          command: |
            docker tag parquet-tools:latest hangxie/parquet-tools:${CIRCLECI_TAG}
            docker push hangxie/parquet-tools:${CIRCLECI_TAG}

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
      - publish-github-release:
          context: parquet-tools
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
      - publish-docker-image:
          context: parquet-tools
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
